body {
    
    background-color:  #d5d5d5;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif; 
   
  }
      


  
  
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');