body {
  background-color:  #99a0f5;
  font-family: 'Fredoka', sans-serif; 
  /* Centrer le conteneur */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Donner une hauteur au body pour centrer verticallement */
  height: 100vh;
}
.card {
  background-color: white;
  width: 350px;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}
img {
  width: 100%;
  border-radius: 10px;
}

.text, .title {
  text-align: center;
}
.title {
  font-size: 26px;
}
.text {
  font-size: 20px;
  color: rgb(97, 97, 97)
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');